<!DOCTYPE html>
<html lang="fr">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Léman-Courses</title>

<link rel="stylesheet" href="css/style.css">

<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>

</head>

<body>

<header class="topbar">
🚚 Léman-Courses
</header>

<nav class="menu">

<button>Dashboard</button>
<button>Nouveau transport</button>
<button>Mes transports</button>
<button>Clients</button>

</nav>

<main class="container">

<!-- CONTENU PAGE -->

</main>

<footer class="footer">

Léman-Courses  
Impasse des Griottes 3  
1462 Yvonand  

</footer>

</body>

</html>
